header{
	background: #5C223D;
}
#main{
	background-image: url('../IMG/Header.jpg');
	height: 450px;
}
#about{
	background-color: #A63380;
}
#about h1{
	color: #ecf0f1;
}

.row{}
.main-text h1{
	color: whitesmoke;
}